#outerbox{
    border: 1px solid rgba(0, 0, 0, 0.122);
    border-color: rgba(0, 0, 0, 0.296);
    text-align:center;
    padding: 30px;
    margin-top: 30px;
    width: 650px;
    margin: auto;
}

button{
    margin-top: 25px;
    width: max-content;
    padding: 8px;
    font-size: 15px;
    border: 1px solid black;
    border-color: rgba(209, 185, 185, 0.482)(128, 128, 128, 0.466);
    margin: auto;

}

input{
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 15px;
}
h3{
    margin-bottom: 25px;
}